// About 3 logo START
.about__block {
    .about__heading {
        text-align: center;
        margin-bottom: 2rem;
    }


    .about__list {
        display: flex;
        flex-direction: row;
        gap: 2rem;


        .about__item {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            background: $gray-100;
            padding: 2rem;
            border: 3px solid $gray-100;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            border-radius: 0.5rem;
            transition: 0.5s ease-in-out;

            &:hover {
                // background: linear-gradient(transparent, $gray-100);
                background: white;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
                border-color: transparent;
            }

            .about__logo {
                flex: none;
                align-self: center;

                img {
                    height: 3rem;
                    width: auto;
                }


            }

            .about__text {
                height: 100%;
            }
        }

    }
}

@media screen and (max-width:$md) {
    .about__block {
        .about__list {
            flex-direction: column;
            .about__item{
                padding: 1rem;
               
            }
        }
    }
}

@media screen and (min-width:$md) and (max-width:$lg) {
    .about__block {
        .about__list {
            flex-direction: column;
        }
    }
}

// About 3 logo END


// Team block START



.team__block {
    // margin: 2rem 0;




    .team__heading {
        display: grid;
        gap: 1rem;
        margin-bottom: 2rem;
        text-align: center;
        .team__blockquote{
            blockquote {
                text-align: left;
                font-size: 1.3rem;
                padding: 2rem;
                background: $gray-100;
                font-style: italic;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
                border-radius: 0.5rem;
        
        
                strong {
                    font-weight: 500;
                    font-size: 1.2rem;
                    font-style: normal;
                }
            }
        }

        p {
            font-size: 1.3rem;
        }
    }

    .team__list {
        display: grid;
        gap: 2rem;

        .team__item {
            display: grid;
            grid-template-columns: 1fr 6fr;
            gap: 2rem;

            .team__img {
                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }

            .team__content {

                .team__name {
                    font-size: 1.4rem;
                    font-weight: 600;
                }

                .team__desc {
                    font-size: 1.2rem;
                    font-weight: 300;
                }

                .team__text {
                    strong {
                        font-weight: 500;
                    }
                }
            }
        }
    }


}

@media screen and (max-width: $md) {
    .team__block {
        margin: 0;

        .team__heading {
            h2 {
                font-size: 1.8rem;
                margin-bottom: 1rem;
            }

            p {
                font-size: 1.3rem;
            }
        }


        .team__list {
            display: grid;
            gap: 2rem;

            .team__item {
                
                display: grid;
                grid-template-columns: 1fr;
                gap: 2rem;
                
            }
        }
    }
}

// Team block END

// Experience block START
.experience__block {
    display: grid;
    gap: 2rem;

    .exp__heading {
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
    }

    .exp__content {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 1rem;

        .exp__item {
            padding: 1rem 1.4rem;
            background: $gray-100;
            border: 2px solid transparent;
            transition: all 0.5s ease-in-out;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            border-radius: 0.5rem;

            &:hover {
                background: white;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

                &.exp__number {
                    transform: scale(1.05)
                }
            }

            .exp__number {
                display: flex;
                align-items: flex-end;
                gap: 1rem;
                margin-bottom: 1rem;


                p {
                    align-self: flex-end;
                }

                span {
                    color: green;
                    font-size: 3rem;
                    line-height: 1;
                }
            }
        }
    }

}

@media screen and (max-width:$xs) {
    .experience__block {
        .exp__content {

            grid-template-columns: 1fr;
        }

    }
}

@media screen and (min-width:$xs) and (max-width:$md) {
    .experience__block {
        .exp__content {
            grid-template-columns: repeat(2, 1fr);
        }

    }
}


@media screen and (min-width:$md) and (max-width: $lg) {
    .experience__block {
        .exp__content {
            grid-template-columns: repeat(2, 1fr);
        }

    }
}

@media screen and (min-width:$lg) and (max-width: $xxl) {
    .experience__block {
        .exp__content {
            grid-template-columns: repeat(3, 1fr);
        }

    }
}



// Experience block END