.breadcrumbs {
    position: relative;


    .breadcrumbs__image {
        position: relative;



        &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background: rgb(51 51 51 / 30%);
            z-index: 2;
            border-radius: 1rem;
        }

        img {
            border-radius: 1rem;
            aspect-ratio: 4/1;
            object-fit: cover;
            box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
            position: relative;
            z-index: 1;

        }

        .breadcrumbs__list {
            position: absolute;
            display: flex;
            gap: 0.5rem;
            bottom: 0;
            left: 0;
            padding: 1rem 1.5rem 1.5rem 4rem;
            z-index: 3;


            li {


                span {
                    color: white;
                    font-weight: 300;
                    font-size: 0.9rem;

                }

                &::after {
                    content: '>';
                    padding-left: 0.5rem;
                    color: white;

                }

                &:last-child::after {
                    content: '';
                    padding: 0;
                }

            }

        }
    }

    .page__title {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        color: white;
        justify-content: start;
        align-items: center;
        z-index: 2;
        padding: 4rem;
    }

    .breadcrumbs__desc {
        margin-top: 2rem;
        font-size: 1.3rem;

    }
}

@media screen and (max-width: 767px) {


    .breadcrumbs {

        .breadcrumbs__image {

            img {
                aspect-ratio: 4/2;
            }

            .breadcrumbs__list {
                width: 100%;
                padding: 1rem;



                li {

                    span {}

                    &::after {}

                    &:last-child::after {}

                }

            }
        }

        .page__title {
            padding: 1rem;
            justify-content: start;

            h1 {
                font-size: 2rem;
            }
        }
    }

}