.breadcrumbs {
    position: relative;


    .breadcrumbs__image {
        position: relative;
        border-radius: 1rem;
        overflow: hidden;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background: rgb(51 51 51 / 30%);
            z-index: 2;
        }

        img {
            border-radius: 1rem;
            max-height: 45vh;
            object-fit: cover;
            box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
            position: relative;
            z-index: 1;

        }

        .breadcrumbs__list {
            position: absolute;
            display: flex;
            gap: 1rem;
            bottom: 0;
            right: 0;
            padding: 1rem 1.5rem;
            z-index: 3;


            li {
              
                span {
                    color: white;
                    font-weight: 300;
                    font-size: 0.9rem;
                }

                &::after {
                    content: '◉';
                    padding-left: 1rem;
                    color: white;

                }

                &:last-child::after {
                    content: '';
                    padding: 0;
                }

            }

        }
    }

    .page__title {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        color: white;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }
    .breadcrumbs__desc{
        margin-top: 2rem;
        font-size: 1.3rem;
        
    }
}