footer {
    background: white;

    .top__footer {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr 2fr;
        padding: 2rem 6rem;
        border-top: 2px solid $gray-100;

        div {


            svg {
                max-height: 11rem;
                padding: 2rem;
                background: $gray-100;
                border-radius: 1rem;
                width: auto;
            }

            // img {
            //     max-height: 3rem;
            //     width: auto;
            //     align-self: flex-start;
            //     margin-bottom: 1rem;

            // }

            .menu__heading {
                font-weight: 500;
                font-size: 1.2rem;
            }

            ul {
                li {
                    margin-bottom: 0.5rem;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

        }



    }

    .bottom__footer {
        border-top: 2px solid $gray-100;
        // background: $gray-100;
        padding: 1rem 6rem;
    }

}




@media screen and (max-width: $md) {
    footer {

        .top__footer {
            padding: 2rem 1rem 1rem 1rem;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;

            div {
                svg {
                    max-height: 8rem;
                    padding: 1rem;
                }
            }
        }

        .bottom__footer {
            padding: 1rem;
        }
    }
}

@media screen and (min-width: $md) and (max-width: $lg) {
    footer {

        .top__footer {
            padding: 2rem 2rem 2rem 2rem;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1rem;

            div {
                svg {
                    max-height: 8rem;
                    padding: 1rem;
                }
            }
        }

        .bottom__footer {
            padding: 2rem;
        }
    }
}

@media screen and (min-width: $lg) and (max-width: $xl) {

    footer {

        .top__footer {
            padding: 2rem 3rem;
        }
        .bottom__footer {
            padding: 1rem 3rem;
        }
    }
}
