// Topbar
.topbar {
    padding: 1rem 6rem 0 6rem;
    display: flex;
    gap: 1rem;
    justify-content: space-between;

    // border-bottom: 1px solid gainsboro;
    .phone {
        font-size: 2rem;
        font-weight: 400;
    }

    .email,
    .address {
        display: grid;

        span {
            font-weight: 500;
        }
    }

}

// Header

header {
    display: flex;

    width: 100%;
    top: 0;
    justify-content: space-between;
    align-items: center;

    padding: 0 6rem;
    z-index: 4;

    &.onscroll {
        position: sticky;
        background: white;
        border-bottom: 2px solid $gray-100;
        // box-shadow: 0 0 #0000, 0 0 #0000, 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -4px rgb(0 0 0 / 10%);

        .logo {
            a {

                img {
                    max-height: 2rem;
                    width: auto;

                }
            }
        }

    }

    .logo {
        min-width: 20%;

        a {
            img {
                transition: all 0.05s ease-in-out;
                max-height: 2.3rem;
                width: auto;
            }
        }
    }
}


.menu {


    ul {
        display: flex;
        gap: 1rem;

        li {
            position: relative;
            display: flex;
            align-items: center;
            gap: 0.5rem;

            input {
                display: none;
            }


            a {
                padding: 1rem 0;
                font-weight: 400;
                display: flex;
                gap: 0.5rem;
                align-items: center;

                &.active {
                    color: green;
                }

            }

            label {
                svg {
                    transition: all 120ms ease-out;
                    transform: rotate(180deg);
                    stroke: $stone-700;
                }
            }

            ul.slave {
                opacity: 0;
                transition: visibility 0s, opacity 0.2s linear;
                z-index: 2;
                background: $gray-100;
                display: grid;

                li {
                    a {
                        padding: 0;
                    }
                }
            }
        }
    }
}

#menuToggle {
    display: none;
}

.menu-icon {
    display: none;
}


@media screen and (max-width: 767px) {
    .topbar {
        display: none;
        // padding: 1rem;
    }

    header {
        padding: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'logo burger'
            'navbar navbar';

        &.onscroll {
            .logo {
                img {
                    max-height: 2rem;
                    width: auto;
                }
            }
        }

        .logo {
            grid-area: logo;

            a {
                img {
                    max-height: 2rem;
                    width: auto;
                }
            }
        }

        .menu-icon {
            grid-area: burger;
            z-index: 5;
        }

        nav.menu {

            grid-area: navbar;

            ul {
                gap: 0;

                li {
                    border-bottom: 1px solid $gray-100;
                    display: flex;

                    a {
                        width: 100%;
                        padding: 1rem;
                    }

                    label {
                        svg {
                            width: 1rem;
                            height: 1rem;
                        }
                    }

                    input {

                        &~ul.slave {
                            visibility: hidden;
                            opacity: 0;

                        }

                        &:checked~ul.slave {
                            visibility: visible;
                            opacity: 1;
                            display: grid;

                        }

                        &:checked~label svg {
                            transform: rotate(0deg);
                            stroke: green;
                        }

                    }

                    ul.slave {
                        display: none;
                        width: 100%;
                        padding: 1rem;
                        gap: 1rem;
                        background: $gray-100;
                        position: relative;


                    }
                }

                .master {
                    flex-wrap: wrap;
                    gap: 0;
                    justify-content: space-between;

                    a {
                        width: 90vw;
                    }

                    label {
                        display: flex;
                        justify-content: end;
                        padding-right: 1rem;
                    }
                }
            }
        }
    }




    .menu {
        width: 100%;
        height: auto;
    }

    .menu ul {

        display: grid;
        gap: 1rem;
    }



    .menu-icon {

        display: flex;
        justify-content: end;
    }

    #menuToggle~nav {
        display: none;
    }

    #menuToggle:checked~nav {
        display: flex;
        flex-direction: column;
        position: fixed;
        z-index: 4;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: white;
        overflow: scroll;
        margin-top: 63px;
        border-top: 2px solid $gray-100;

    }

    .menu-icon i {
        font-size: 1.7em;
    }

    // 3 cards block
    .main__cards {

        grid-template-columns: 1fr;
        grid-template-areas: 'text'
            'first'
            'second'
            'third';

    }
}



@media screen and (min-width:768px) {
    header {
        .menu {


            ul {
                display: flex;
                gap: 1rem;

                li {
                    position: relative;
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;

                    input {
                        display: none;
                    }


                    &:hover {

                        ul.slave {
                            visibility: visible;
                            opacity: 1;

                        }

                        label {
                            svg {
                                transform: rotate(0deg);
                                stroke: green;
                            }
                        }
                    }

                    a {
                        padding: 1rem 0;
                        font-weight: 400;
                        display: flex;
                        gap: 0.5rem;
                        align-items: center;

                        &.active {
                            color: green;
                        }

                    }

                    label {

                        svg {
                            transition: all 120ms ease-out;
                            transform: rotate(180deg);
                            stroke: $stone-700;

                        }
                    }

                    ul.slave {
                        visibility: hidden;
                        display: grid;
                        opacity: 0;
                        transition: visibility 0.2s, opacity 0.2s linear;
                        padding: 1rem;
                        position: absolute;
                        z-index: 3;
                        background: $gray-100;
                        border-radius: 0.5rem;

                        gap: 0.5rem;
                        border: 1px solid $gray-100;
                        top: 3rem;
                        left: 0;
                        box-shadow: rgb(25 69 75 / 28%) 2px 4px 32px;
                        gap: 0;

                        li {
                            a {
                                padding: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}