.map__section {
    position: relative;
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 2rem;




    .map__content {

        padding: 2rem;
        border-radius: 1rem;
        background: $gray-100;
        box-shadow: 0 0 #0000, 0 0 #0000, 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -4px rgb(0 0 0 / 10%);

        .map__header {
            font-size: 2rem;
            font-weight: 600;
            margin-bottom: 1rem;
        }

        .map__text {
            display: grid;
            gap: 1rem;
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas:
                'contact__address contact__address'
                'contact__phone contact__phone-sec'
                'contact__email .'
            ;

            // color: white;
            div {
                display: grid;

                &:nth-child(1) {
                    grid-area: contact__address;
                }

                &:nth-child(2) {
                    grid-area: contact__phone;
                }

                &:nth-child(3) {
                    grid-area: contact__phone-sec;
                }

                &:nth-child(4) {
                    grid-area: contact__email;
                }

                span {
                    font-weight: 500;
                }
            }
        }

    }
}
@media screen and (max-width:$sm){
    .map__section {
        grid-template-columns: 1fr;
    }
}
@media screen and (min-width:$sm) and (max-width:$md) {
    .map__section {
        grid-template-columns: 1fr;

        .map__content {

            border-radius: 1rem 1rem 0 0;
            .map__text {
                grid-template-columns: repeat(3, 1fr);
                grid-template-areas:
                    'contact__address contact__address contact__address'
                    'contact__phone contact__phone-sec contact__email'
                    
                ;
            }
        }

    }
}

@media screen and (min-width:$md) and(max-width:$lg) {
    .map__section {
        .map__content {
            .map__text {
                grid-template-columns: 1fr;
                grid-template-areas:
                    'contact__address'
                    'contact__phone'
                    'contact__phone-sec'
                    'contact__email'
                ;
            }
        }
    }
}

@media screen and (min-width:$lg) and (max-width: $xl) {
    .map__section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

// Map production START

.mapprod__section {
    display: grid;
    grid-template-columns: 3fr 2fr;

    overflow: hidden;

    .mapprod__img {
        position: relative;

        img {
            object-fit: cover;
            border-radius: 1rem;
            box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -4px rgb(0 0 0 / 10%);
        }

        .heading {
            color: white;
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin-left: 30%;
        }


    }

    .mapprod__content {
        padding: 2rem;
        margin: 0 0 0 2rem;
        background: $gray-100;
        border-radius: 1rem;
        z-index: 2;
        display: grid;
        gap: 1rem;

        .mapprod__header {
            font-size: 2rem;
            font-weight: 500;
        }

        .mapprod__text {
            span {
                font-weight: 500;
            }
        }

        .mapprod__link {
            a {
                padding: 1rem;
                background: $gray-200;

                &:hover {
                    background: green;
                    color: white;
                }
            }
        }
    }

}


@media screen and (max-width:$xl) {
    .mapprod__section {
        grid-template-columns: 1fr;

        .mapprod__content {
            margin: 2rem 0 0 0;
        }
    }
}

@media screen and (min-width:$xl) and (max-width:$xxl) {
    .mapprod__section {
        grid-template-columns: 1fr 1fr;

        .mapprod__content {
            margin: 0 0 0 2rem;
        }

        .mapprod__img {
            img {
                height: 100%;
            }
        }
    }
}

// Map production END

.company__form-map{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    .company__map{
        border-radius: 1rem;
        overflow: hidden;
        box-shadow: 0 0 #0000, 0 0 #0000, 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -4px rgb(0 0 0 / 10%);
        div{
            
            width: 100%;
            height: 100%;
        }
    }
}
@media screen and (max-width:$md){
    .company__form-map{
        display: grid;
        grid-template-columns: 1fr;
    }
}