.map__section {
    position: relative;


    .map__code {
        width: 70vw;
        height: 50vh;
        box-shadow: 0 0 #0000, 0 0 #0000, 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -4px rgb(0 0 0 / 10%);
        filter: grayscale(0.7);

        div {
            border-radius: 1rem;
            height: 100%;
        }


    }

    .map__content {
        position: absolute;
        top: 15%;
        right: 0;

        padding: 2rem;
        background: $stone-200;
        border-radius: 1rem;
        box-shadow: 0 0 #0000, 0 0 #0000, 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -4px rgb(0 0 0 / 10%);

        .map__header {
            font-size: 2rem;
            font-weight: 600;
            margin-bottom: 1rem;
        }

        .map__text {
            display: grid;
            gap: 1rem;

            // color: white;
            div {
                display: grid;

                &.map__phone {
                    grid-template-columns: repeat(2, 1fr);
                }

                span {
                    font-weight: 500;
                }
            }
        }

    }
}

@media screen and (max-width:$xs) {
    .map__section {
        display: grid;
        grid-template-areas: 'map__content'
            'map__code';

        .map__code {
            grid-area: map__code;
            width: 100%;
            height: 30vh;
            margin-top: -3rem;
            border-radius: 1rem;
        }

        .map__content {
            position: static;
            grid-area: map__content;
            z-index: 2;
            border-radius: 1rem 1rem 0 0;
        }
    }
}

// Map production START

.mapprod__section {
    display: grid;
    grid-template-columns: 3fr 2fr;

    overflow: hidden;

    .mapprod__img {
        position: relative;

        img {
            object-fit: cover;
            border-radius: 1rem;
            box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -4px rgb(0 0 0 / 10%);
        }

        .heading {
            color: white;
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin-left: 30%;
        }


    }

    .mapprod__content {
        padding: 2rem;
        margin:  0 2rem;
        background: $gray-100;
        border-radius: 1rem;
        z-index: 2;
        display: grid;
        gap: 1rem;

        .mapprod__header {
            font-size: 2rem;
            font-weight: 500;
        }

        .mapprod__text {
            span {
                font-weight: 500;
            }
        }
        .mapprod__link{
            margin-top: 1rem;
            a{
                padding: 1rem;
                background: $gray-200;

                &:hover{
                    background: green;
                    color: white;
                }
            }
        }
    }

}


@media screen and (max-width:$xl) {
    .mapprod__section {
        grid-template-columns: 1fr;

        .mapprod__content {
            margin: 2rem 0 0 0;
        }
    }
}

@media screen and (min-width:$xl) and (max-width:$xxl) {
    .mapprod__section {
        .mapprod__content {
            margin: 0 0 0 2rem;
        }
        .mapprod__img{
            img{
                height: 100%;
            }
        }
    }
}

// Map production END