.photo__block {
    position: relative;


    .photo__img {
        border-radius: 1rem;
        overflow: hidden;
        box-shadow: rgb(25 69 75 / 28%) 2px 4px 32px;
        aspect-ratio: 4/2;


        &::before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background: rgba(51, 51, 51, 0.3);
            border-radius: 1rem;

        }

        img {
            object-fit: cover;
            aspect-ratio: 4/2;
        }
    }

    .photo__content {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        

        .photo__logo {
            
            svg {
                max-height: 14rem;
                fill: green;
                transition: 0.5s ease-in-out;
                
            }
        }
    }
}

@media screen and (max-width:768px) {
    .photo__block {
        .photo__img {
            aspect-ratio: 4/2;
        }

        .photo__content {
            .photo__logo {

                svg {
                    height: 8rem;
                }
            }
        }
    }
}

@media screen and (min-width:1920px) {
    .photo__block {
        .photo__img {
            max-height: 90vh;
            min-width: 100%;
        }

        .photo__content {
            .photo__logo {

                svg {
                    height: 8rem;
                }
            }
        }
    }
}