.production__product {
    h2 {
        text-align: center;
        margin-bottom: 2rem;
    }

    .product__list {
        display: grid;

        gap: 1rem;

        &.all__prod {
            grid-template-columns: repeat(4, 1fr);
        }

        &.featured__prod {
            grid-template-columns: repeat(5, 1fr);
        }

        .product__item {
            border-radius: 1rem;
            background: $gray-100;
            border: 3px solid $gray-100;

            &:hover {

                .product__img img {
                    transform: scale(1.1);
                }
            }

            .product__img {
                img {
                    transition: all 0.5s ease-in-out;
                }
            }

            .product__name {
                padding: 0 1rem 1rem 1rem;
                font-size: 1.2rem;
                text-align: center;

            }
        }
    }

}

@media screen and (max-width:$xs) {
    .production__product {
        .product__list {
            &.featured__prod {
                grid-template-columns: repeat(2, 1fr);
            }
            &.all__prod {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}

@media screen and (min-width:$xs) and (max-width:$lg) {
    .production__product {
        .product__list {
            &.featured__prod {
                grid-template-columns: repeat(3, 1fr);
            }
            &.all__prod {
                grid-template-columns: repeat(3, 1fr);
            }

            .product__item {
                .product__name {
                    font-size: 1rem;
                }
            }
        }
    }
}